body {
	font-size: 16px;
	color: #000000;
	background-color: #F4F1D3;
	font-family: 'Roboto', sans-serif;
}
#header-nav {
	background-color: #56C4EF;
	color: #020201;
	border-radius: 0;
	border: 0;
}
.navbar-brand {
	padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
	font-family: 'Roboto', sans-serif;
	color: #1E1A1C;
	font-size: 2em;
	font-weight: bold;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	background-color: #E7E7E7;
}
.navbar-header button.navbar-toggler {
	clear: both;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
}
#nav-list a:hover, #nav-list a:focus {
	text-decoration: none;
}
.collapse navbar-collapse {
}


