body {
	font-size: 16px;
	color: #000000;
	background-color: #F4F1D3;
	font-family: 'Roboto', sans-serif;
}
#header-nav {
	background-color: #56C4EF;
	color: #020201;
	border-radius: 0;
	border: 0;
}
.navbar-brand {
	padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
	font-family: 'Roboto', sans-serif;
	color: #1E1A1C;
	font-size: 2em;
	font-weight: bold;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-brand h1 a:hover {
	opacity: .8;
}
.text-center h2 {
	font-family: 'Roboto', sans-serif;
	color: #0C2DEF;
	font-weight: bold;
	text-decoration: none;
	margin-top: 5px;
}
.text-center h2 a:hover a:focus {
	opacity: .8;
	}
#header-nav a:hover {
	color: #575A5B;
}
.navbar-header button.navbar-toggler {
	clear: both;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-top: 0;
    padding-left: 80%;
    margin-top: 0;
}
.nav-link {
    display: block;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

@media (max-width: 767px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, 
  .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, 
  .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 
  {
    float: left;
  }
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 74.99%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 100%;
  }
}


