body {
	font-size: 16px;
	color: #000000;
	background-color: #F4F1D3;
	font-family: 'Roboto', sans-serif;
}
#header-nav {
	background-color: #EFBF37;
	border-radius: 0;
	border: 0;
}
.navbar-brand {
	padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
	font-family: 'Roboto', sans-serif;
	color: #1E1A1C;
	font-size: 2em;
	font-weight: bold;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	background-color: #E7E7E7;
}
.navbar-toggler-icon {
	border: 1px solid #000000;
}
#nav-list a:hover, #nav-list a:focus {
	text-decoration: none;
}

